<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="double.css" type="text/css" media="screen">
<title>Double</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Header</h1>
    </header>
    <section>
      <p>DETROIT — A federal judge on Thursday sentenced Kwame M. Kilpatrick, the former mayor of this beleaguered city, to 28 years in prison for widespread corruption that prosecutors say deepened the city’s financial crisis.</p>
      <p>“At the very least, a significant sentence will send a message that this kind of conduct will not be tolerated,” said Judge Nancy G. Edmunds of United States District Court for the Eastern District of Michigan, before she read the sentence.</p>
    </section>
    
    <aside> 
      <p>If you’re a front end developer or a designer who likes to code, CSS-based layouts are at the very core of your work. In what might be a refresher for some, or even an “a-ha!” for others, let’s look at the CSS position property to see how we can use it to create standards-compliant, table-free CSS layouts.</p>
      <p>CSS positioning is often misunderstood. Sometimes, in a bug-fixing fury, we apply different position values to a given selector until we get one that works. This is a tedious process that can work for a time, but it behooves us to know why specifying something like position: relative can fix your layout bug. My hope is that we can learn the position property’s values and behaviors, and most importantly, how a value can affect your markup.</p>
     </aside>
     
    <footer>
      <p>Footer</p>
    </footer>
    
  </div>
</body>
</html>
