<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="gallery.css" type="text/css" media="screen">
<title>Gallery</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Header</h1>
    </header>
    <section>
       <article>
         <h2>Title</h2>
         <p>If you’re a front end developer or a designer who likes to code, CSS-based layouts are at the very core of your work. In what might be a refresher for some, or even an “a-ha!” for others, let’s look at the CSS position property to see how we can use it to create standards-compliant, table-free CSS layouts.</p>
         </article>
          <article>
         <h2>Title</h2>
         <p>If you’re a front end developer or a designer who likes to code, CSS-based layouts are at the very core of your work. In what might be a refresher for some, or even an “a-ha!” for others, let’s look at the CSS position property to see how we can use it to create standards-compliant, table-free CSS layouts.</p>
         </article>
          <article>
         <h2>Title</h2>
         <p>If you’re a front end developer or a designer who likes to code, CSS-based layouts are at the very core of your work. In what might be a refresher for some, or even an “a-ha!” for others, let’s look at the CSS position property to see how we can use it to create standards-compliant, table-free CSS layouts.</p>
         </article>
          <article>
         <h2>Title</h2>
         <p>If you’re a front end developer or a designer who likes to code, CSS-based layouts are at the very core of your work. In what might be a refresher for some, or even an “a-ha!” for others, let’s look at the CSS position property to see how we can use it to create standards-compliant, table-free CSS layouts.</p>
         </article>
          <article>
         <h2>Title</h2>
         <p>If you’re a front end developer or a designer who likes to code, CSS-based layouts are at the very core of your work. In what might be a refresher for some, or even an “a-ha!” for others, let’s look at the CSS position property to see how we can use it to create standards-compliant, table-free CSS layouts.</p>
         </article>
          <article>
         <h2>Title</h2>
         <p>If you’re a front end developer or a designer who likes to code, CSS-based layouts are at the very core of your work. In what might be a refresher for some, or even an “a-ha!” for others, let’s look at the CSS position property to see how we can use it to create standards-compliant, table-free CSS layouts.</p>
         </article>
          <article>
         <h2>Title</h2>
         <p>If you’re a front end developer or a designer who likes to code, CSS-based layouts are at the very core of your work. In what might be a refresher for some, or even an “a-ha!” for others, let’s look at the CSS position property to see how we can use it to create standards-compliant, table-free CSS layouts.</p>
         </article>
          <article>
         <h2>Title</h2>
         <p>If you’re a front end developer or a designer who likes to code, CSS-based layouts are at the very core of your work. In what might be a refresher for some, or even an “a-ha!” for others, let’s look at the CSS position property to see how we can use it to create standards-compliant, table-free CSS layouts.</p>
         </article>
         
    </section>
    
    <footer>
      <p>Footer</p>
    </footer>
    
  </div>
</body>

</html>
