<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="single.css" type="text/css" media="screen">
<title>Single</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Header</h1>
    </header>
    <section>
      <p>DETROIT — A federal judge on Thursday sentenced Kwame M. Kilpatrick, the former mayor of this beleaguered city, to 28 years in prison for widespread corruption that prosecutors say deepened the city’s financial crisis.</p>
      <p>“At the very least, a significant sentence will send a message that this kind of conduct will not be tolerated,” said Judge Nancy G. Edmunds of United States District Court for the Eastern District of Michigan, before she read the sentence.</p>
    </section>
    <footer>
      <p>Footer</p>
    </footer>
  </div>
</body>
</html>
